.logo {
    font-size: 32px;
    line-height: 32px;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    width: fit-content;
    z-index: 11;
    position: relative;
    top: 0px;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

/* Hover effect */
.logo:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px #ff6a00, 0 0 20px #ee0979;
}

@media (min-width: 1024px) {
    .logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }
}